* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Hammersmith One', sans-serif;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* HEADER */

#header-logo {
    width: 200px;
}

header .container {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3C40C6;
}

nav {
    width: 70vw;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.1em ;
} 

a {
    text-decoration: none;
    transition: 200ms;
}

button .card {
    transition: 200ms;
}

header a {
    color: #FFFFFF;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}

header a:hover {
    background-color: #FFFFFF;
    color: #3C40C6;
    border-radius: 8px;
}

/* HOME-PAGE */
#home .container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#home h1 {
    color: #3C40C6;
}

.presentation{
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#technologies {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.tech-item {
    border: 2px solid #3C40C6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-icon {
    width: 45px;
}

button a{
    color: #FFFFFF;
    background-color: #3C40C6;
    padding: 5px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.3em;
    box-shadow: 0 5px 5px #3C40C6;
}

button a:hover{
    color: #3C40C6;
    background-color: #FFFFFF;
    border: 2px solid #3C40C6;
    font-size: 1.4em;
}

/* ABOUT ME */
.line-decoration {
    border-bottom: 8px dotted #ffffff;
}

#about-me .line-decoration {
    width: 100vw;
    border-color: #ffffff;
}

#about-me .container {
    padding: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #3C40C6;
}

article {
    border-left: 5px solid #FFFFFF ;
}

#about-me .container-top {
    display: flex;
    flex: row;
    padding: 15px;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.title-circle {
    border-left: 8px solid #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 5px #333333;
}

#about-me .title-circle {
    background-color: #FFFFFF;
}

.about-me-elements {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#about-me a {
    font-weight: bold;
    color: #3C40C6;
}

#about-me a:hover {
    text-decoration: underline;
}

.about-me-content {
    background-color: white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    padding: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.container-top .about-me-content {
    width: 60vw;
    height: 15vh;
}

.container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-bottom .about-me-content {
    width: 40vw;
    height: 30vh;
}



/* PROJECTS */

#projects .container {
    padding: 10px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(60, 64, 198, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects .container-top {
    display: flex;
    flex: row;
    padding: 15px;
    align-items: center;
    gap: 50px;
}

#projects .line-decoration {
    border-color: #FFFFFF;
    width: 70vw;
    padding: 1vh;
}

#projects .title-circle {
    background-color: #FFFFFF;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 60vh;
}

.card {
    width: 25%;
    height: 80%;
    border-radius: 8px;
    background-color: #3C40C6;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 5px 5px #333333;
    cursor: pointer;
}

.change-cards {
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 1.2em;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.change-cards:hover {
    box-shadow: 0 5px 5px #333333;
    color: #3C40C6;
}

/* CONTATO */
#contact .container {
    padding: 10px;
    height: 80vh;
    width: 100vw;
}

#contact .title-circle {
    background-color: rgba(60, 64, 198, 0.7);
    color: #FFFFFF;
}

#contact .line-decoration {
    width: 70vw;
    padding: 1vh;
    border-color: #3C40C6;
}

#contact .container-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#contact-itens {
    width: 75vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 60px;
    background-color: #FFFFFF;

    border-left: 8px solid #3C40C6;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.contact-icon {
    background-color: #000000;
    border-radius: 50%;
    width: 90px;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-icon:hover {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.social-icon:hover {
    width: 70px;
    height: 70px;
}

.social-icon {
    width: 60px;
    height: 60px;
}

/* FOOTER */

footer {
    height: 15vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}

footer a {
    color: #3C40C6;
}

footer a:hover {
    text-decoration: underline;
}



@media (max-width: 360px) {
    .title-circle {
        border-left: 5px solid #000000;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        font-size: 0.7em;
    }

    #contact .line-decoration, #projects .line-decoration {
        width: 50vw;
    }
    
    #contact-itens {
    width: 75vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 60px;
    /* background-color: #FFFFFF; */

    border-left: 8px solid #ffffff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.contact-icon {
    background-color: #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    justify-content: space-evenly;
    align-items: center;
}

/* .contact-icon:hover {
    width: 90px;
    height: 90px;
} */

/* .social-icon:hover {
    width: 70px;
    height: 70px;
} */

.social-icon {
    width: 40px;
    height: 40px;
}


}
